* {
  color:black;
}

div {
  border: solid 1px black;
}

#liste {
  height: 200px;
  overflow: scroll;
}

tr:nth-child(even) {background: #CCC;}

tr:nth-child(odd) {background: #FFF;}

#detail {
  display: flex;
}

#actions {
  display: flex;
}
