.img {
    width: 100px;
    height: 100px;
}
.img2 {
    width: 400px;
    height: 400px;
}
.img3 {
    width: 200px;
    height: 200px;
}

.listeSessionBientot {
    max-height: 565px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}


.table td, .table th {
    vertical-align:middle;

}

.table .dispo > th > td {
    font-size: 60%;
}

#carouselExampleIndicators {
    background-color: grey;
}

.défilant {
    height: 380px;
}

.carte {
    height: 307px;
}

.test > td {
    height: 50px;
    width: 50px;
}

