label
{
	display: block;
	width: 300px;
	float: left;
}


#inputCreationDebutSession1,#inputCreationDebutSession2
{

	width: 50px;

}
#selectCreerSession
{

	width: 500px;

}
.why {
    width: 100px;
    height: 100px;
}

.listeSessionBientot {
    max-height: 565px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}


.table td, .table th {
    vertical-align:middle;

}

.why2 {
    width: 400px;
    height: 400px;
}
#carouselExampleIndicators {
    background-color: darkslategrey;
}

.défilant {
    height: 380px;
}

.carte {
    height: 307px;
}
